.myBtn {
    width: 40px;
    margin-right: 10px;
}

.done {
    text-decoration: line-through ;
}

.todoListItem {
    color: black;
    font-weight: normal;
    font-size: 20px;
}

.todoListItem.important {
    color: #3f7bff;
}